<% include partials/header.ejs %>
<h1> THIS IS THE PORTION WHERE THE API IS DISPLAYED </h1>
<h3> the name is <%= name %> the id is <%= id %> the time is <%= time %> </h3>
<p> This is a trial version of one api</p>


<h1> THE CITY IS ... <%= city %> </h1>
<h1> THE REGION IS....<%= region %>
<h1> THE COUNTRY IS ... <%= country %> </h1>

<% include partials/footer.ejs %>
